<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SLA by Tag</title>
</head>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/navi.css') }}">

<body>
<table class="navi_style_small">
    <td><a href="http:{{url_for('configure_navi')}}">Configiure</a></td>
    <td><a href="http:{{url_for('main')}}">Tag Center</a></td>
    <td><a href="http:{{url_for('get_scan_stats')}}">Asset Stats</a></td>
    <td><a href="http:{{url_for('get_sla')}}">SLA Stats</a></td>
    <td><a href="http:{{url_for('navi_search', search_method='plugin_id', search_text=104410)}}">Credential Failures</a></td>
    <td><a href="http:{{url_for('navi_search')}}">Plugin Search</a></td>
</table>
<br><br>
<h1 align="Center">Average Scan time Per Policy</h1>
<table class="navi_style_main">
    <tr>
        <th><u>Name</u></th>
        <th><u>Average Mins Per Asset</u></th>
        <th><u>Total Assets</u></th>
    </tr>
    {% for key, values in policy_average.items()%}
    <tr>
        <td width="70%">{{ key }}</td>
        <td width="15%">{{ values[0] }} mins</td>
        <td width="15%">{{ values[1] }} Assets Scanned</td>


    </tr>
    {% endfor %}

</table>
<br><br>
<h1 align="Center">Average Scan Time Per Scanner</h1>
<table align="center" class="navi_style_main">
    <tr>
        <th><u>Name</u></th>
        <th><u>Average Per Asset</u></th>
        <th><u>Total Assets</u></th>
    </tr>
    {% for key, values in scanner_average.items()%}
    <tr>
        <td width="70%">{{ key }}</td>
        <td width="15%">{{ values[0] }} Mins</td>
        <td width="15">{{ values[1] }} Assets Scanned</td>


    </tr>
    {% endfor %}

</table>
<br><br>
<h1 align="Center">Average Scan time - Per Scan</h1>
<table class="navi_style_main">
    <tr>
        <th><u>Name</u></th>
        <th><u>Average Per Asset</u></th>
        <th><u>Total Assets</u></th>
    </tr>
    {% for key, values in scan_name_average.items()%}
    <tr>
        <td width="70%">{{ key }}</td>
        <td width="15%">{{ values[0] }} Mins</td>
        <td width="15%">{{ values[1] }} Assets Scanned</td>


    </tr>
    {% endfor %}

</table>

</body>
</html>
